<h1>Edit existing user</h1>

<% if @user.errors.any? %>

<h2>The following errors prevented the user from getting edited</h2>

<ul>

<% @user.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>

<%= form_for @user do |f| %>

<p>

<%= f.label :firstname %><br/>

<%= f.text_field :firstname %>

</p>

<p>

<%= f.label :lastname %><br/>

<%= f.text_field:lastname %>

</p>

<p>

<%= f.label :email %><br/>

<%= f.text_field:email %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>

<%= link_to "Back to users listing", users_path %>