<h1>Showing selected user</h1>

<p>

First name: <%= @user.firstname %>

</p>

<p>

Last name: <%= @user.lastname %>

</p>

<p>

Email: <%= @user.email %>

</p>

<%= link_to "Edit user", edit_user_path(@user) %> |

<%= link_to "Back to users listing", users_path %>