<!DOCTYPE html>
<html>
<head>
  <title>CrudEval</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>

<ul>

<li><%= msg %></li>

</ul>

<% end %>
<%= yield %>

</body>
</html>
